* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body{
    height: 100%;
    width: 100%;
    background-color: #121212;
    color: #ffffff;
  }

  header{
    display: grid;
    justify-items: center;
  }
  
  .menu_container {
    margin: 1rem;
    font-size: 5rem;
    border: 1px solid #404040;
    padding: .5rem 1rem;
    border-radius: 2rem;
    align-items: center;
    background-color: #181818;
  }

  .menu_container .navigation {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    align-items: center;
    gap: 3rem;
  }

  .menu_container img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: 20% 80%;
    border: 1px solid black;
  }

  .menu_container .navigation a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
  }

  .menu_container .navigation a:hover{
    color: #b3b3b3;
  }

  .feed_container {
    display: flex;
    color: #b3b3b3;
    justify-content: center;
  }

  .feed_container .feed_main {
    font-size: 5rem;
    border: 1px solid #404040;
    padding: 2rem 1rem;
    border-radius: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: #181818;
    flex: 0 1 auto;
  }

  .feed_container .feed_main img {
    height: auto;
    width: 700px;
    border-radius: 1.5%;
  }

  .feed_container .feed_main .title {
    display: flex;
    margin-top: 2rem;
    width: 700px;
    align-items: center;
    flex-flow: column;
    font-size: 3.5rem;
    font-weight: 900;
  }

  .feed_container .feed_main .title .title_item {
    font-size: 3rem;
    display: flex;
    margin-top: 5rem;
    width: 700px;
    justify-content: space-between;
    font-weight: 600;
  }

  .feed_container .feed_main .title .title_item p:hover {
    color: #ffffff
  }

  .feed_container .feed_main .post {
    display: flex;
    margin-top: 4rem;
    width: 700px;
  }

  .feed_container .feed_main_friends {
    margin: 1rem 45rem;
    font-size: 5rem;
    border: 1px solid #404040;
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    align-items: center;
    flex: 1 0 auto; 
    display: flex;
    justify-content: flex-start;
    background-color: #181818;
    flex: 0 1 700px;
  }

  .feed_container .feed_main_friends .my_friends {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    font-size: 4rem;
    justify-content: space-around;
  }

  .feed_container .feed_main_friends .my_friends :hover {
    color: #ffffff;
  }

  .feed_container .feed_main_friends img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    object-position: 20% 80%;
    border: 1px solid black;
    align-items: center;
  }

 .footer_container{
  padding: 2rem;
  width: 100%;
  height: 15vh;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 5rem;
  }